@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.jersey-25-regular {
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #042938;
    color: #f6f6f6;
}

.titulo-destaque {
    color: #C39052;
}

.apresentacao {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 615px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-size: 24px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;   
    width: 378px;
    text-align: center;
    border: 2px solid #C39052;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.apresentacao__links__link:hover {
    background-color: #074963;
}